@{
    ViewData["Title"] = "Pessoas";
}
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Ativo</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>22222222222</td>
            <td>Sim</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>33333333333</td>
            <td>Não</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>44444444444</td>
            <td>Sim</td>
        </tr>
    </tbody>
</table>
